= render_flash

.jumbotron
  .container
    %h2
      %strong 
        Welcome.
    %p 
      %span
        %strong
          Least Cost Feed(LCF) 
      is an web-based application that helps Livestock Farmer, Nutritionist or anyone who like to optain the cheapest Diet for their Livestock or pets. It uses GNU Linear Programming Kit(GLPK) at the back end to find the least cost solutions for the nutrition specifications that the user provide.

.container
  .row
    .col-md-3
      %h2 Ingredient
      %p An ingredient is a substance that forms part of a formula (in a general sense). For example, in cooking, recipes specify which ingredients are used to prepare a specific dish. 
    .col-md-3
      %h2 Nutrient
      %p Nutrients are the nutritious components in foods that an organism utilizes to survive and grow.
    .col-md-3
      %h2 Formula
      %p Stuff Describing Formula.....
    .col-md-3
      %h2 Specification
      %p Stuff Describing Specification.....

  %hr
    %footer
      %p © Kim Poh Sitt Tat Feedmill Sdn. Bhd. 2014
