= render_flash

.jumbotron
  .container
    %h2
      %strong 
        Welcome.
    %p 
      %span
        %strong
          Least Cost Feed(LCF) 
      is an web-based application that helps Livestock Farmer, Nutritionist or anyone who like to optain the cheapest Diet for their Livestock or pets. It uses GNU Linear Programming Kit(GLPK) at the back end to find the least cost solutions for the nutrition specifications that the user provide.

.container
  .row
    .col-md-3
      %h2 Ingredient
      %p Stuff Describing Ingredient.....
    .col-md-3
      %h2 Nutrient
      %p Stuff Describing Nutrient.....
    .col-md-3
      %h2 Formula
      %p Stuff Describing Formula.....
    .col-md-3
      %h2 Specification
      %p Stuff Describing Specification.....

  %hr
    %footer
      %p © Company 2013
