.col-sm-5
  %table.table.lcf-table
    %thead
      %tr
        %th.col-sm-5 Nutrient
        %th Min
        %th Max
        %th Actual
  .scrollable
    %table.table.lcf-table
      %tbody#nutrients
        = f.fields_for :formula_nutrients, f.object.formula_nutrients.sort_by { |t| t.min ? -t.min : -t.actual }, :wrapper => false do |builder|
          = render 'nutrients', f: builder
  = f.link_to_add 'Select Nutrients', :formula_nutrients, id: 'select_nutrients_button', class: 'btn btn-success'