// Place all the styles related to the select_nutrients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#select_nutrients {
  position: absolute;
  background: white;
  width: 90%;
}